<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>J/M</title>
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
	<!-- Custom Fonts -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
	<!-- Plugin CSS -->
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/4dda9e4022.js" crossorigin="anonymous"></script>
</head>

<body id="page-top" class="font_logo_ciril">
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/">
					<img class="logo__img" src="{% static 'img/logo.png' %}" alt="logodayana" style="width: 85px;">
					<!-- Julia Mochinova -->
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="
    padding: 15px 0 0;">
				<ul class="nav navbar-nav navbar-right menu__list">
					<li class="active">
						<a class="page-scroll" href="#page-top">Главная</a>
					</li>
					<li class="">
						<a class="page-scroll" href="#about">Обо мне</a>
					</li>
					<li class="">
						<a class="page-scroll" href="#Q_A_A">Вопросы</a>
					</li>
					<li class="">
						<a class="page-scroll" href="#anons">Анонсы</a>
					</li>
					<li class="">
						<a class="page-scroll" href="#portfolio">Портфолио</a>
					</li>

					<li class="">
						<a class="page-scroll" href="#pricing">Цены</a>
					</li>
					<li class="">
						<a class="page-scroll" href="#contact">Контакты</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<div id="carousel-example-generic" class="carousel intro slide main_text">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<!-- First slide -->
			<div class="item active img__carousel" style="background-image:url('{% static 'img/2.jpg' %}')">
				<div class="carousel-caption">
					<h1 data-animation="animated bounceInUp" class="font_logo">Julia Mochinova</h1>
					<h2 data-animation="animated bounceInDown" class="font_logo">Photographer </h2>
				</div>
			</div>
			<div class="item img__carousel" style="background-image:url('{% static 'img/c_2.jpg' %}')">
				<div class="carousel-caption">
					<h1 data-animation="animated bounceInDown" class="font_logo">Welcome</h1>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 text-center font_logo_ciril ">
					<img src="{% static 'img/logo-footer.png' %}" class="font_logo_jm" alt="" style="width: 40%;">
					<h2>Обо мне:</b></h2>
					<hr>
					<p class="font_sizes"> Меня зовут Юля, я сертифицированный фотограф, специализируюсь на съемке
						новорожденных малышей в
						г. Самара.<br>
						В первую очередь я мама и мне очень важно , чтобы сьёмка проходила в комфортных и безопасных
						условиях для малыша, а мама малыша
						испытывала доверие, спокойствие и радость во время съёмки.
						В процессе работы я вкладываю свою душу, любовь, энергию для достижения качественного
						результата.
						С трепетом и вниманием отношусь к каждому клиенту и каждому заказу, забочусь об удовлетворении
						всех запросов клиентов в
						рамках предоставляемых услуг.
						Я наполняю семейные ценные кадры волшебством и самыми тёплыми воспоминаниями.
					</p>
					<div class="text-center">
						<img src="{% static 'img/iam.jpg' %}" class="rounded-circle font_logo_jm"
							style="width:35%;border-radius: 58%;">
					</div>

				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="divider div-transparent div-dot"></div>
		</div>
	</section>
	{% if q_and_a %}
	<section id='Q_A_A'>
		<div class="container ">
			<div class="row">
				<h2 class="text-center">Ответы на самые часто задаваемые вопросы</h2>
				<hr>
				<div class="col-md-12">
					<div class="half">
						{% for q_a_a in q_and_a %}
						<div class="tab">
							<input id="tab-{{q_a_a.id}}" type="checkbox" name="tabs">
							<label for="tab-{{q_a_a.id}}">{{q_a_a.questions}}
							</label>
							<div class="tab-content">
								<p>{{q_a_a.answers|linebreaks}}</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="wrapper">
		<div class="divider div-transparent div-dot"></div>
	</div>
	{% endif %}

	<section id='anons'>
		<div class="container">
			<div class="row">
				<h2 class="text-center">Анонсы</h2>
				<hr>
				{% for cart in news %}
				<div class="col-md-6">
					<div class="card">
						{% if cart.project_img_one %}
						<img src="{{cart.project_img_one.url}}">
						{% else %}
						<img src="">
						{% endif %}
						<div class="con-text">
							<h2 style="padding: 35px;">{{cart.heading}}</h2>
							<p>
								<a href="{{cart.get_absolute_url}}"><button>Читать</button></a>
							</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="wrapper">
			<div class="divider div-transparent div-dot"></div>
		</div>
	</section>

	{% if testimonials %}
	<section id="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading"><b>Отзывы</b></h2>
					<hr class="primary">
					<br>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12" data-wow-delay="0.2s">
					<div class="carousel slide" data-ride="carousel" id="quote-carousel">
						<div class="carousel-inner text-center">
							{% for index, testimonial in testimonials %}
							<div class="item {% if index == 1 %}active{% endif %}">
								<blockquote>
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<p>
												{{testimonial.message}}
											</p>
											<small>{{testimonial.name}}</small>
										</div>
									</div>
								</blockquote>
							</div>
							{% endfor %}
						</div>
						<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i
								class="fa fa-chevron-left"></i></a>
						<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i
								class="fa fa-chevron-right"></i></a>
					</div>
					<button type="button" class="btn waves-effect waves-light " data-toggle="modal"
						data-target="#modalLRFormDemo" style="
    margin: 0 auto;
    display: block;">Оставить отзыв
					</button>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="divider div-transparent div-dot"></div>
		</div>
	</section>

	{% endif %}

	<!-- Section Portfolio
	================================================== -->
	{% if portfolio %}
	<section id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading"><b>Портфолио</b></h2>
					<hr class="primary">
					<br>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row no-gutter">
				{% for img in portfolio %}
				<div class="col-md-4 col-sm-6">
					<a href="#" class="portfolio-box">
						<img src="{{img.portfolio_img.url}}" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									{{img.heading}}
								</div>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="wrapper">
			<div class="divider div-transparent div-dot"></div>
		</div>
	</section>
	{% endif %}
	<!-- Section Pricing
	================================================== -->
	<section id="pricing">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading"><b>Цены</b></h2>
					<hr class="primary">
					<br>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				{% for price in prices %}
				<div class="col-md-3 ">
					<div class="coast">
						<div class="id_order" style="display: none;">
							{{price.id}}
						</div>
						<div class="prev_text">
							<h4>{{price.heading}}</h4>
						</div>
						<div class="price">{{price.coast}} ₽</div>
						<hr>
						<div class="strong_block">
							{{price.pakeges|linebreaks}}
						</div>
						<div class="order">
							<a href="#">
								<button type="button" class="btn btn-round btn-white btn-xl edit_form"
									style="left: 50%;transform: translate(-50%, 0);border: 1px solid black;outline: transparent;"
									id="open_modeal_edit">
									Заказать
								</button>
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="business-card">
						<h3 class="logo">
							<a href="">Минуточку внимания!<br>
								Запись на фотосессию осуществляется по предоплате <br>. Оставшаяся сумма, оплачиваются
								заказчиком в день фотосессии.<br>
								Предоплата учитывается при окончательном расчете.<br>
								Я храню Вашу съемку на компьютере в течении месяца после отдачи! <br>У вас есть
								возможность
								выбрать понравившиеся кадры на
								дополнительную обработку. Пожалуйста, как получите фото, сразу скопируйте его на
								компьютер и сделайте дополнительную
								копию на флеш-карту! <br>Так Вы обезопасите себя от потери таких уникальных и дорогих
								сердцу
								кадров.<br>
								Исходные RAW файлы я не отдаю.<br>
								мы изначально снимаем определенное количество кадров, согласно пакету. Съемка
								новорожденного-это определенный вид
								съемки, где мы не можем попросить малыша лечь в ту или иную позу, показать эмоции,
								улыбнуться нам и тд.<br>
								Кроха живет своей жизнью ,а мы лишь создаем комфортные условия и подстраиваемся под
								него. Приглашая фотографа к своему
								малышу ,Вы должны это понимать. <br>Есть спокойные детки ,которые сладко спят всю
								съёмку, а
								есть те ,кому совсем не нравится
								,что их решили пофотографировать ,показывают свой характер.<br>
								Я благодарна всем , кто позволяет использовать фотографии, полученные в результате наших
								фотосессий, у меня в портфолио
								,в конкурсах и на выставках(не коммерческое использование). Они демонстрируют мой
								профессиональный уровень и рост!<br>
								Договариваясь о фотосъемке , вы соглашаетесь на мой стиль обработки, последующую ретушь
								снимков ,мое видение и выборку
								фотографий. В обработку фотографии входит цветокоррекция, кадрирование, частичная ретушь
								на портретах.<br>
								Но если по каким либо причинам Вы хотите чтобы съемка была конфиденциальной, сообщите
								мне пожалуйста об этом заранее. <br>
								Я
								уважаю Ваше право на личную жизнь и допополнительной платы за конфиденциальность не
								беру!
								Если есть вопросы я по максимуму уделю вам время , чтоб не осталось никах сомнений по
								поводу съёмки. <br>Спасибо за ваше
								доверие.<br>

								Фотосъёмка проходит в моей специализированной студии для новорожденных ,где есть все
								необходимые температурные ,световые
								условия и реквизит. Территориально студия находиться мкр .Южный город.
								Если вам удобно проводить съёмку у вас дома я приеду к вам со всем необходимым
								реквизитом .</span></a>
						</h3>
					</div>
				</div>
			</div>
			<div id="modal_edit" class="modal">
				<div class="container">
					<div class="row">
						<div class="bg_font"
							style="height: auto;background-color: white;border-radius: 50px;overflow: hidden;padding: 33px;">
							<div class="col-md-8 col-md-offset-2 text-center">
								<div class="regularform">
									<h1>Заказ на : <div id="text_order"></div>
									</h1>
									<form method="POST" action="" id="contactform" class="text-left change_data_form">
										{% csrf_token %}
										<input name="name" type="text" class="col-md-6 col-sm-6 norightborder" required
											placeholder="Имя *" style="z-index: 9999999;">
										<input name="email" type="email" class="col-md-6 col-sm-6 " required
											placeholder="Эл. адресс *" style="z-index: 9999999;">
										<input type="text" name="phone" required id="" class="col-md-12 col-sm-12" ,
											placeholder="Контактный номер">
										<textarea name="comment" class="col-md-12 col-sm-12" required
											placeholder="Ваш комментарий(по желанию) *"
											style="z-index: 9999999;"></textarea>
										<div class="divs"
											style="position: relative;left: 50%;transform: translate(-50%, 0);">
											<button type="submit" class="btn btn-round btn-white btn-xl">Сделать
												заказ</button>
											<button type="button" class="btn btn-round btn-white btn-xl"
												onclick="document.getElementById('modal_edit').style.display='none'"
												class="fluid ui button">Отмена</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="modal fade" id="modalLRFormDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
					aria-hidden="true">
					<div class="modal-dialog cascading-modal" role="document">
						<div class="block__modal">
							<form class="material-form" action="{% url 'add_testimonial' %}" method="GET">
								<div class="material-form__container">
									<input class="material-form__input" name="name" type="text" placeholder=" "
										id="input-name" />
									<label class="material-form__label" form="input-name">Имя</label>
									<div class="material-form__focus-animation"></div>
								</div>
								<div class="material-form__container">
									<input class="material-form__input" name="email" type="email" id="input-email"
										placeholder=" " />
									<label class="material-form__label" form="input-email">E-mail</label>
									<div class="material-form__focus-animation"></div>
								</div>
								<div class="material-form__container">
									<textarea class="material-form__input" name="text" name=""
										id="text-area"></textarea>
									<label class="material-form__label" form="input-password">Ваш отзыв</label>
									<div class="material-form__focus-animation"></div>
								</div>
								<button class="material-form__button">Оставить комментарий</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="social" class="parallax parallax-image"
		style="background-image: url('{% static 'img/1.jpg' %}'); background-position: 50% -78px;">
		<div class="overlay" style="background:#222;opacity:0.5;">
		</div>
		<div class="wrapsection">
			<div class="container">
				<div class="parallax-content">
					<div class="row wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
						<div class="col-md-4">
							<div class="funfacts text-center">
								<div class="icon">
									<a href="mailto:yulya.mochinova@mail.ru"><i class="far fa-envelope-open"></i></a>
								</div>
								<h4>E-mail</h4>
							</div>
						</div>
						<div class="col-md-4">
							<div class="funfacts text-center">
								<div class="icon">
									<a href="https://www.instagram.com/mochinova_newborn/"><i
											class="fa fa-instagram"></i></a>
								</div>
								<h4>Instagram</h4>
							</div>
						</div>
						<div class="col-md-4">
							<div class="funfacts text-center">
								<div class="icon">
									<a href="https://wa.me/89869516381"><i class="fa fa-whatsapp"></i></a>
								</div>
								<h4>Whats App</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix">
	</div>

	<!-- Section Contact
	================================================== -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="section-heading">Свяжитесь со мной</h2>
					<hr class="primary">
					<p>
						Есть вопросы ? Пишите !
					</p>
					<div class="regularform">
						<form method="POST" action="{% url 'questions' %}" id="contactform" class="text-left">
							{% csrf_token %}
							<input name="name" type="text" class="col-md-6 col-sm-6 norightborder" required
								placeholder="Имя *">
							<input name="email" type="email" class="col-md-6 col-sm-6 " required
								placeholder="Эл. адресс *">
							<textarea name="comment" class="col-md-12 col-sm-12" required
								placeholder="Ваш вопрос *"></textarea>
							<button type="submit" class="btn btn-round btn-white btn-xl"
								style="position: relative;left: 50%;transform: translate(-50%, 0);border: 1px solid black;">Отправить
								сообщение</button>


						</form>
					</div>
				</div>
				<div class="col-md-12 text-center">
					<br><br>
					<p>
						© 2020
					</p>
				</div>
			</div>
		</div>
	</section>

	<style>
		.modal {
			display: none;
			position: fixed;
			z-index: 999999;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, 0.4);
			padding-top: 60px;
		}

		.modal-content {
			background-color: #fefefe;
			margin: 5% auto 15% auto;
			border: 1px solid #888;
			width: 50%;
		}

		span.psw {
			float: right;
			padding-top: 16px;
		}

		.close {
			position: absolute;
			right: 25px;
			top: 0;
			color: #000;
			font-size: 35px;
			font-weight: bold;
		}

		.close:hover,
		.close:focus {
			color: red;
			cursor: pointer;
		}

		.animate {
			-webkit-animation: animatezoom 0.6s;
			animation: animatezoom 0.6s
		}

		@-webkit-keyframes animatezoom {
			from {
				-webkit-transform: scale(0)
			}

			to {
				-webkit-transform: scale(1)
			}
		}

		@keyframes animatezoom {
			from {
				transform: scale(0)
			}

			to {
				transform: scale(1)
			}
		}

		@media screen and (max-width: 300px) {
			span.psw {
				display: block;
				float: none;
			}

			.cancelbtn {
				width: 100%;
			}
		}
	</style>
	<script src="{% static 'js/jquery.js.download' %}"></script>
	<script src="{% static 'js/bootstrap.min.js.download' %}"></script>
	<script src="{% static 'js/parallax.js.download' %}"></script>
	<script src="{% static 'js/contact.js.download' %}"></script>
	<script src="{% static 'js/countto.js.download' %}"></script>
	<script src="{% static 'js/jquery.easing.min.js.download' %}"></script>
	<script src="{% static 'js/wow.min.js.download' %}"></script>
	<script src="{% static 'js/common.js.download' %}"></script>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script>
		//Удалить пробелы с url
		$(function () {
			$('.edit_form').on('click', function () {
				let str = $(this).parents('div').children('.coast');
				let type_order = str.children('.prev_text').text();
				let id_order = str.children('.id_order').text();
				// console.log(type_order.text())
				// let topic = $.trim(block_info.children('.header').text());
				let url_update = '/order/' + $.trim(id_order) + '/';
				$('#modal_edit').css('display', 'block');
				$('.change_data_form').attr('action', url_update);
				$('#text_order').text(type_order);

			});
			$(document).mouseup(function (e) { // событие клика по веб-документу
				var div = $("#change_data"); // тут указываем ID элемента
				if (!div.is(e.target) // если клик был не по нашему блоку
					&& div.has(e.target).length === 0) { // и не по его дочерним элементам
					div.css('display', 'none');// скрываем его
				}
			});
		})

	</script>

</body>

</html>